<!DOCTYPE html>
{% autoescape true %}
<html>

<head>
    <meta charset='utf-8'>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <title>If I Were You Bingo!</title>
</head>

<body>
{#
    5x5 grid of squares, each clickable. 
        class = bingobutton
        middle one auto filled in (for theme: mentions jews; for ep: relationship question)

    3 rounds: 
        1) Opening theme song
        2) Actual episode
        3) Ad mode
#}
    <table align="center">
        {% for row in rows %}
        <tr class="iiwyrow">
            {% for option in row %}
                {% if option in free_points %}
                    <td class="btn checked">{{ option }}</td>
                {% else %}
                    <td class="btn">{{ option }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{#
    Footer with "random episode" link
#}
<script type="text/javascript" src="scripts/script.js"></script>
</body>

</html>
{% endautoescape %}

