<!DOCTYPE html>
{% autoescape true %}
<html>

<head>
    <meta charset='utf-8'>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <title>If I Were You Bingo!</title>
</head>

<body>

<a href="/" id="title">
    <div id="header"> 
        If I Were You Bingo
    </div>
</a>

{#
    5x5 grid of squares, each clickable. 
        class = bingobutton
        middle one auto filled in (for theme: mentions jews; for ep: relationship question)

    3 rounds: 
        1) Opening theme song
        2) Actual episode
        3) Ad mode
#}
    <table align="center">
        {% for row in rows %}
        <tr class="iiwyrow">
            {% for option in row %}
                {% if option in free_points %}
                    <td class="btn checked free">{{ option }}</td>
                {% else %}
                    <td class="btn">{{ option }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {% if gamemode == 'ad' %}
    <a href="/theme">
        <div class='navbtn right'>
            Theme Song mode
        </div>
    </a>
    {% elif gamemode == 'theme' %}
    <a href="/ad">
        <div class='navbtn left'>
            Ad mode
        </div>
    </a>
    <a href="/show">
        <div class='navbtn right'>
            Podcast mode
        </div>
    </a>
    {% elif gamemode == 'show' %}
    <a href="/theme">
        <div class='navbtn left'>
            Theme song mode
        </div>
    </a>
    {% endif %}

    {# Footer with "random episode" link, "who made this?", suggest a bingo card #}
<script type="text/javascript" src="scripts/script.js"></script>
</body>

</html>
{% endautoescape %}

