body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#222;
    text-align: center;
    color: black;
}

table {
    border-spacing: 10px;
    margin: 0 auto;
    width: 80%;
    background-color: black;

    vertical-align:middle;
    margin-top: 1%;
}

td {
    width:10%;
}

p {
    color:white;
}

a {
    text-decoration: none;
    color:black;
}

#title,
#header{
    cursor:pointer; 
	text-align: center;
	color: black;
	margin: 0 auto;
	padding: 0;
	font-size: 2em;
	color: black;
	background-color: #EDEDED;
    text-decoration:none;
}

#header {
    margin-top: -10px;
    margin-left: -12px;
    padding-top: -10px;
    width: 100%;

    border-style: outset;
    border-width: 10px 10px;
    border-color: #black;
}


.navbtn:hover,
.btn:hover {
    background-color: #BCBCBC;
    cursor: pointer;
}

.btn {
    padding: 0 20px;
    width:10%;
    height: 100px;
    background-color: #EDEDED;
    font-size: 1.1em;
}
.alignleft {
  float: left;
  /*margin-left:10%;*/
  text-align:left;
}
.aligncenter {
  float: left;
  margin: 0 auto;
  text-align:center;
}
.alignright {
  float: left;
  /*margin-right:10%;*/
  text-align:right;
}
.wrapper {
    width:33%;
}
.wrapperwrapper {
    margin-left: 15%;
    margin-top: 6.5%;
}

.navbtn {
    display: table-cell;
    width: 200px;
    height: 100px;
    float:bottom;
    overflow:hidden;
    text-align:center;
    background-color: #EDEDED;
    vertical-align:middle;
    font-size: 1.1em;

    border-style: outset;
    border-width: 10px
    border-color: grey;
}

.right {
    position:absolute;
    right: 10.5%;
}
.left {
    position:absolute;
    left: 10.5%;
}

.checked:hover{
    background-color: #A72234;
}
.checked {
    background-color: #872234;
    color: #DDD;
}

.footer{
    text-align: center;
    width: 100%;
    font-size : 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    position:fixed;
    bottom:0px;
    background-color: #EDEDED;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    margin-left: -10px;
}

